---
layout: base.njk
title: About
---

<section class="hero about-box">
    <div class="hero-text">
        <h1>About Crimson Defense</h1>
        <p class="about-est">Est. 2018</p>
    </div>
</section>

<section class="about-details">
    <article class="about-detail">
        <div class="about-detail-text">
            <h2>Who We Are</h2>
            <p>Crimson Defense Cyber Security Club is the premier cyber security student organization affiliated with the <a href="https://cs.ua.edu/" target="_blank" rel="noopener">University of Alabama Department of Computer Science</a>. We strive to create a community on campus for those who are interested in all things cyber security: from cyber crime to digital forensics to malware analysis and everything in between! We host General Interest meetings on Wednesday evenings, and Competition Team meetings every other Tuesday evening during the Fall and Spring semesters. Be sure to join our <a href="https://forms.gle/8KZW6QKiMKYJYsiv5" target="_blank" rel="noopener">Discord</a> for the latest meeting information.</p>
            <p>Find us on <a href="https://mysource.ua.edu/organization/crimsondefense" target="_blank" rel="noopener">mySOURCE</a>!</p>
            <p>Still have questions? Check out our <a href="/faqs">FAQ</a> page.</p>
        </div>
        <img class="about-detail-img" src="https://placehold.co/800x600/1a1a1a/ff5468?text=Placeholder" alt="Placeholder image">
    </article>

    <article class="about-detail">
        <img class="about-detail-img" src="https://placehold.co/800x600/1a1a1a/ff5468?text=Placeholder" alt="Placeholder image">
        <div class="about-detail-text">
            <h2>Our Missions</h2>
            <ul>
                <li>Teach real, applicable security skills (penetration testing, malware analysis, etc.)</li>
                <li>Compete in cyber security competitions at the local, state, and national level. See our <a href="/competition-team">Competition Team</a> page!</li>
                <li>Inspire the next generation of cyber professionals. See our <a href="/outreach">Outreach</a> page!</li>
                <li>Advocate for cyber security curriculum at the University of Alabama. Our work in this area has helped to <a href="https://news.ua.edu/2020/02/ua-to-offer-degree-in-cyber-security/" target="_blank" rel="noopener">create</a> the new <a href="https://catalog.ua.edu/undergraduate/engineering/computer-science/cyber-security-bs/" target="_blank" rel="noopener">College of Engineering Cyber Security Major</a> and <a href="https://cs.ua.edu/undergraduate/concentration-in-cyber-security/" target="_blank" rel="noopener">Computer Science Concentration in Cyber Security</a> at UA!</li>
            </ul>
        </div>
    </article>
</section>

<section class="discord">
    <h2>Join our Discord!</h2>
    <a href="https://discord.gg/TumAd3p5Nu"><i class="fa-brands fa-discord"></i></a>
    <p>Please upon joining, change your server nickname to your first and last name.</p>
</section>

<section class="about-disclaimer">
    <p><strong>DISCLAIMER</strong>: Using security techniques with malicious intent will result in your removal from Crimson Defense. If applicable, you will be reported to the appropriate authorities. Do not abuse your power. <strong>WE ARE NOT A HACKTIVIST GROUP</strong>.</p>
</section>
