---
layout: base.njk
title: Scoreboard
---

<section class="hero scoreboard-hero">
    <div class="hero-text">
        <h1>CDCTF 2025 Scoreboard</h1>
        <p>September 20, 2025</p>
    </div>
</section>

<section class="scoreboard-intro">
    <div class="scoreboard-intro-text">
        <h2>Thank you to all our competitors!</h2>
        <p>Whether you made 100 points or 10000, we're very proud of y'all for taking the time to take a chance and try something that was either new, hard, or strange. We hope you had fun, at the end of the day, that's what Crimson Defense CTF is about! We really can't thank y'all enough for making the inaugural edition of CDCTF so epic.</p>
        <p>Checkout these top writeups from our fabulous competitors:</p>
        <ul class="scoreboard-writeups">
            <li><strong>tommy_kay</strong>: <a href="https://tommy-kay.github.io/posts/CDCTF2025-Forensics-Foorensik-Suite/" target="_blank" rel="noopener">Foorensik</a></li>
            <li><strong>brucewilsoncc</strong>: <a href="/writeups/jordanbelfort/" target="_blank" rel="noopener">I've been getting dirty money, Jordan Belfort</a></li>
            <li><strong>The AP Procrastinator</strong>: <a href="https://www.notion.so/Tampered-Write-Up-276f35651678802da739dd6a2c63f17c" target="_blank" rel="noopener">Tampered</a></li>
        </ul>
    </div>
    <div class="scoreboard-map-wrapper">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1w6jZMTmICYs-7ZUiLBP-mhhWCnVexEg&amp;ehbc=2E312F" loading="lazy" title="CDCTF 2025 competitor map"></iframe>
    </div>
</section>

<section class="scoreboard-full">
    <h2>Full Scoreboard</h2>
    <ol class="scoreboard-list">
        <li class="place-1"><span class="rank">1st</span><span class="team">Knightsec</span><span class="points">9505</span></li>
        <li class="place-2"><span class="rank">2nd</span><span class="team">USC CTF Team 1</span><span class="points">9375</span></li>
        <li class="place-3"><span class="rank">3rd</span><span class="team">Cyber@UC</span><span class="points">9305</span></li>
        <li><span class="rank">4th</span><span class="team">The Hack Pack - A</span><span class="points">8100</span></li>
        <li><span class="rank">5th</span><span class="team">ROLL TIDE</span><span class="points">7495</span></li>
        <li><span class="rank">6th</span><span class="team">Prochoroume</span><span class="points">6890</span></li>
        <li><span class="rank">7th</span><span class="team">4mail</span><span class="points">6360</span></li>
        <li><span class="rank">8th</span><span class="team">Purple Defenk</span><span class="points">6350</span></li>
        <li><span class="rank">9th</span><span class="team">Cyber Sail 1</span><span class="points">5950</span></li>
        <li><span class="rank">10th</span><span class="team">cu_hypernikomen</span><span class="points">5705</span></li>
        <li><span class="rank">11th</span><span class="team">UALR Hackstreet Boys</span><span class="points">5690</span></li>
        <li><span class="rank">12th</span><span class="team">The Hack Pack - H</span><span class="points">5360</span></li>
        <li><span class="rank">13th</span><span class="team">Cyber Sail 2</span><span class="points">5225</span></li>
        <li><span class="rank">14th</span><span class="team">UALR StackSamurai</span><span class="points">4960</span></li>
        <li><span class="rank">15th</span><span class="team">Hatsune Miku Lovers</span><span class="points">4420</span></li>
        <li><span class="rank">16th</span><span class="team">OP_EN</span><span class="points">4385</span></li>
        <li><span class="rank">17th</span><span class="team">Knightsec Newgens</span><span class="points">4260</span></li>
        <li><span class="rank">18th</span><span class="team">BlackCrown</span><span class="points">4005</span></li>
        <li><span class="rank">19th</span><span class="team">AUth.log</span><span class="points">3750</span></li>
        <li><span class="rank">20th</span><span class="team">Baller Team'); DROP TABLE Teams; --</span><span class="points">3385</span></li>
        <li><span class="rank">21st</span><span class="team">SkhV</span><span class="points">3350</span></li>
        <li><span class="rank">22nd</span><span class="team">bearcatz</span><span class="points">3325</span></li>
        <li><span class="rank">23rd</span><span class="team">Icarus</span><span class="points">3085</span></li>
        <li><span class="rank">24th</span><span class="team">cyberfellas</span><span class="points">3065</span></li>
        <li><span class="rank">25th</span><span class="team">The Hack Pack - I</span><span class="points">2650</span></li>
        <li><span class="rank">26th</span><span class="team">USC CTF Team 3</span><span class="points">2645</span></li>
        <li><span class="rank">27th</span><span class="team">Cyber Sail 3</span><span class="points">2630</span></li>
        <li><span class="rank">28th</span><span class="team">TeaMoo</span><span class="points">2625</span></li>
        <li><span class="rank">29th</span><span class="team">The Hack Pack - G</span><span class="points">2575</span></li>
        <li><span class="rank">30th</span><span class="team">USC CTF Team 2</span><span class="points">2525</span></li>
        <li><span class="rank">31st</span><span class="team">The Hack Pack - B</span><span class="points">2475</span></li>
        <li><span class="rank">32nd</span><span class="team">Cryptonite</span><span class="points">2225</span></li>
        <li><span class="rank">33rd</span><span class="team">The Janitor's Closet</span><span class="points">2145</span></li>
        <li><span class="rank">34th</span><span class="team">The Hack Pack - C</span><span class="points">2095</span></li>
        <li><span class="rank">35th</span><span class="team">USC CTF Team 5</span><span class="points">1810</span></li>
        <li><span class="rank">36th</span><span class="team">Crimson Offense</span><span class="points">1790</span></li>
        <li><span class="rank">37th</span><span class="team">The Hack Pack - E</span><span class="points">1555</span></li>
        <li><span class="rank">38th</span><span class="team">USC CTF Team 4</span><span class="points">1400</span></li>
        <li><span class="rank">39th</span><span class="team">AU.cp150</span><span class="points">1185</span></li>
        <li><span class="rank">40th</span><span class="team">Knights of the Round Table</span><span class="points">1050</span></li>
        <li><span class="rank">41st</span><span class="team">The Hack Pack - F</span><span class="points">875</span></li>
        <li><span class="rank">42nd</span><span class="team">CtrlXploit</span><span class="points">800</span></li>
        <li><span class="rank">43rd</span><span class="team">Echo Uniform</span><span class="points">700</span></li>
        <li><span class="rank">44th</span><span class="team">FunCTF1234</span><span class="points">650</span></li>
        <li><span class="rank">45th</span><span class="team">RJ</span><span class="points">600</span></li>
        <li><span class="rank">46th</span><span class="team">The Hack Pack - D</span><span class="points">375</span></li>
        <li><span class="rank">47th</span><span class="team">Cyberman</span><span class="points">375</span></li>
        <li><span class="rank">48th</span><span class="team">Pipedream</span><span class="points">350</span></li>
        <li><span class="rank">49th</span><span class="team">ijazah jokowi</span><span class="points">275</span></li>
        <li><span class="rank">50th</span><span class="team">sleepycat</span><span class="points">225</span></li>
        <li><span class="rank">51st</span><span class="team">Sam</span><span class="points">125</span></li>
    </ol>
    <p class="scoreboard-note"><a href="https://ctftime.org/event/2846" target="_blank" rel="noopener">CTFtime.org link</a></p>
</section>
