---
layout: base.njk
title: CDCTF
---

<section class="hero cdctf-box">
    <img class="hero-photo" src="/img/CDCTF_logo_fin.svg" alt="CDCTF Logo">
    <div class="hero-text">
        <h1>Crimson Defense CTF (CDCTF)</h1>
        <p>Collegiate Level CTF</p>
        <p>CDCTF 2026 is coming! Saturday, October 3rd, 10am-10pm CDT!</p>
    </div>

</section>

<section class="cdctf-details">
    <article class="cdctf-detail">
        <div class="cdctf-detail-text">
            <h2>What is CDCTF?</h2>
            <p>Our virtual 12-hour Jeopardy-style Capture-the-Flag competition is designed for collegiate-level players. All ability levels are welcome. CDCTF will not only provide satisfying challenges for seasoned players, but be a good introduction to CTFs for new ones!</p>
        </div>
        <img class="cdctf-detail-img" src="https://placehold.co/800x600/1a1a1a/ff5468?text=Placeholder" alt="Placeholder image">
    </article>

    <article class="cdctf-detail">
        <div class="cdctf-detail-text">
            <h2>About CDCTF</h2>
            <p>CDCTF was created by CD Officers in 2023 to introduce CTF style competitions to new Crimson Defense members. The competition used challenges created by Crimson Defense members/alumni from the previous year's UACTF high school competition. In 2025, it was decided by the Crimson Defense Officers to open up the competition to any college student in the United States!</p>
            <p>CDCTF 2026 will contain more advanced challenges than past CDCTFs, but there will still be beginner-friendly challenges available. The goal of CDCTF is to introduce new students to cyber, but also to give veteran students a chance to sharpen their skills for the new academic year!</p>
        </div>
        <img class="cdctf-detail-img" src="https://placehold.co/800x600/1a1a1a/ff5468?text=Placeholder" alt="Placeholder image">
    </article>

    <article class="cdctf-detail">
        <div class="cdctf-detail-text">
            <h2>Format</h2>
            <p>CDCTF is a team competition, you may have up to four participants per team. Universities may have multiple teams representing their school.</p>
            <p>There will be challenges of all difficulties representing the following categories: Reverse Engineering, Log &amp; Network Traffic Analysis, Forensics, Password Cracking, Cryptography, Open Source Intelligence, Social Engineering, and AI!</p>
        </div>
        <img class="cdctf-detail-img" src="https://placehold.co/800x600/1a1a1a/ff5468?text=Placeholder" alt="Placeholder image">
    </article>

    <article class="cdctf-detail">
        <div class="cdctf-detail-text">
            <h2>CDCTF Rules</h2>
            <ul>
                <li>Attacking the CDCTF platform is strictly prohibited</li>
                <li>Sharing flags or solutions with other teams during the competition is strictly prohibited and may result in the revocation of Awards</li>
                <li>Recieving help from individuals NOT on your team, including coaches/professors, is prohibited</li>
                <li>Brute-forcing is strictly prohibited</li>
                <li>Using automated tools against the CDCTF hosted challenges is prohibited unless specified</li>
                <li>Please do not sabotage other teams, create multiple accounts, use bots/scripts to automate submissions, or share competition materials with others not competing in CDCTF during the competition. Write-ups are encouraged, and may only be posted after the conclusion of the competition.</li>
            </ul>
            <p>The tiebreaker for final points will be as follows: time of last correct submission minus time of qualifying flag submission. Submission accuracy is NOT considered for scoring, and flag-hoarding is discouraged.</p>
            <p>You and your team will be held to your school's Student Code of Conduct. If your school does not have one, you will be subject to following the University of Alabama Student Code of Conduct during the duration of the competition.</p>
            <p>Play fair! Any infractions to these rules may result in: point deductions, disqualification, or a permanent ban from the competition.</p>
        </div>
        <img class="cdctf-detail-img" src="https://placehold.co/800x600/1a1a1a/ff5468?text=Placeholder" alt="Placeholder image">
    </article>

</section>

<p class="cdctf-note">Contact us at <a href="mailto:crimsoncyberdefense@gmail.com">crimsoncyberdefense@gmail.com</a> with any questions or concerns. Just put "CDCTF" somewhere in the subject line.</p>

<p class="cdctf-scoreboard-note">View Past Scoreboards Here: <a href="/scoreboard">2025</a></p>

<p class="cdctf-note">Looking for our middle/high school competition? <a href="/uactf">Click here</a> for info on UACTF 2026.</p>
