---
layout: base.njk
title: Club Leadership
---

<section class="leadership">
    <h1>Club Leadership</h1>

    <h2>Current Leadership <span class="term">2026 - 2027</span></h2>
    <ul class="leadership-list">
        <li><span class="role">President</span>Esmeralda Macario</li>
        <li><span class="role">Vice President</span>Samantha Orange</li>
        <li><span class="role">Competition Team Captain</span>Benjamin Swartley</li>
        <li><span class="role">Treasurer</span>Campbell Thompson</li>
        <li><span class="role">Secretariat</span>Matthew Carter</li>
        <li><span class="role">Certification Chair</span>Kit Elsasser</li>
        <li><span class="role">Project Crimson Director 26-27</span>Blake Stilson</li>
        <li><span class="role">Project Crimson Director Fall</span>Matthew Carter</li>
        <li><span class="role">Project Crimson Director Spring</span>Benjamin Swartley</li>
        <li><span class="role">Competition Team Vice Captain</span>Alexander Loff</li>
        <li><span class="role">Social Media Chair</span>Baylee Pugh</li>
        <li><span class="role">Director of Professional Outreach</span>Swastee Regmi</li>
        <li><span class="role">Parliamentarian</span>Krish Gadhia</li>
        <li><span class="role">Chief of Staff</span>Evan Hardt</li>
        <li><span class="role">Web Master</span>Samuel Bozeman</li>
    </ul>

    <h2>Former Leadership</h2>

    <div class="leadership-year">
        <h3>2025 - 2026</h3>
        <ul class="leadership-list">
            <li><span class="role">President</span>Micah Nishihira</li>
            <li><span class="role">Vice President</span>Sammy Korodi</li>
            <li><span class="role">Competition Team Captain</span>Annika Lee</li>
            <li><span class="role">Treasurer</span>Grace Neil</li>
            <li><span class="role">Secretary</span>Charlotte Gangler</li>
            <li><span class="role">Certification Chair</span>Campbell Thompson</li>
            <li><span class="role">Project Crimson Director</span>James Embry</li>
            <li><span class="role">Competition Team Vice Captain</span>Benjamin Swartley</li>
            <li><span class="role">Social Media Chair</span>Baylee Pugh</li>
            <li><span class="role">Director of Professional Outreach</span>Esmeralda Macario</li>
            <li><span class="role">Parliamentarian</span>Andrew McNeil</li>
            <li><span class="role">Chief of Staff</span>Evan Hardt</li>
        </ul>
        <h4 class="sub-term">Fall 2025 changes</h4>
        <ul class="leadership-list">
            <li><span class="role">Competition Team Vice Captain</span>Wilson King</li>
            <li><span class="role">Parliamentarian</span>Benjamin Swartley</li>
        </ul>
    </div>

    <div class="leadership-year">
        <h3>2024 - 2025</h3>
        <ul class="leadership-list">
            <li><span class="role">President</span>Matt Ruder</li>
            <li><span class="role">Vice President</span>Annika Lee</li>
            <li><span class="role">Competition Team Captain</span>JT Adams</li>
            <li><span class="role">Treasurer</span>Grace Neil</li>
            <li><span class="role">Secretary</span>Lawson Smith</li>
            <li><span class="role">Security+ Chair</span>Anna Graves</li>
            <li><span class="role">Competition Team Vice Captain</span>Micah Nishihira</li>
            <li><span class="role">Social Media Chair</span>Baylee Pugh</li>
            <li><span class="role">Chief of Staff</span>Campbell Thompson</li>
            <li><span class="role">Project Crimson Director</span>Sammy Korodi</li>
            <li><span class="role">Project Crimson Director</span>Orion Gregory</li>
            <li><span class="role">Parliamentarian</span>Micah Nishihira</li>
            <li><span class="role">Director of Professional Outreach</span>Esmeralda Macario</li>
            <li><span class="role">Event Coordinator</span>Grace Neil</li>
        </ul>
    </div>

    <div class="leadership-year">
        <h3>2023 - 2024</h3>
        <ul class="leadership-list">
            <li><span class="role">President</span>Anna Graves</li>
            <li><span class="role">Vice President</span>Annika Lee</li>
            <li><span class="role">Competition Team Captain</span>JT Adams</li>
            <li><span class="role">Treasurer</span>Grace Neil</li>
            <li><span class="role">Secretary</span>Tanner Baine</li>
            <li><span class="role">Competition Team Vice Captain</span>Micah Nishihira</li>
            <li><span class="role">Social Media Chair</span>Matt Ruder</li>
            <li><span class="role">Chief of Staff</span>Lawson Smith</li>
            <li><span class="role">Security+ Chair</span>Anna Graves</li>
            <li><span class="role">Project Crimson Director</span>Matt Ruder</li>
            <li><span class="role">Project Crimson Director</span>Grace Neil</li>
        </ul>
    </div>

    <div class="leadership-year">
        <h3>2022 - 2023</h3>
        <ul class="leadership-list">
            <li><span class="role">President</span>Zach Weske</li>
            <li><span class="role">Vice President</span>Annika Lee</li>
            <li><span class="role">Competition Team Captain</span>JT Adams</li>
            <li><span class="role">Treasurer</span>Anna Graves</li>
        </ul>
    </div>

    <div class="leadership-year">
        <h3>2021 - 2022</h3>
        <ul class="leadership-list">
            <li><span class="role">President</span>Cole Robbins</li>
            <li><span class="role">Vice President</span>Zach Weske</li>
            <li><span class="role">Treasurer</span>Annika Lee</li>
            <li><span class="role">Secretary</span>Gregory Shipowitz</li>
        </ul>
    </div>
</section>
