---
layout: base.njk
title: Competition Team
---

<section class="hero comp-box">
    <div class="hero-text">
        <h1>Competition Team</h1>
        <p class="comp-subheading">Crimson Defense #1</p>
    </div>
</section>

<section class="comp-intro">
    <h2>Crimson Defense Competition Team</h2>
    <p>Our Competition Team participates in many cyber security competitions, and are always willing to take on new members! If you are interested, stop by one of our meetings on <strong>Thursdays at 6:00pm in the Cyber Lab (Bevill 1066)</strong>. Check out <strong>#comp-announcements</strong> in our <a href="https://forms.gle/8KZW6QKiMKYJYsiv5" target="_blank" rel="noopener">Discord</a> to see what Crimson Defense's Competition Team is currently competing in!</p>
    <h3>Contact our Competition Team Captain in our Discord for more information or if you have any questions!</h3>
</section>

<section class="comp-details">
    <article class="comp-detail">
        <div class="comp-detail-images">
            <img class="comp-detail-img" src="/img/CompetitionHuddleRedacted.png" alt="Competition Team huddle">
            <img class="comp-detail-img" src="/img/CompetitionHuddleRedacted2.png" alt="Competition Team huddle">
        </div>
        <div class="comp-detail-text">
            <h2>Competitions We Compete In:</h2>
            <h3><a href="https://nationalcyberleague.org/competition" target="_blank" rel="noopener">National Cyber League (NCL) CTF</a></h3>
            <p>NCL competitions are held twice a year, once during each semester. Students across the United States compete by solving as many puzzles as possible from the following categories: Open Source Intelligence, Cryptography, Log Analysis, Network Traffic Analysis, Scanning, Forensics, Password Cracking, Enumeration and Exploitation, and Web Application Security.</p>
            <p>In Spring 2025's NCL <a href="https://cyberskyline.com/data/power-ranking/spring-2025-national" target="_blank" rel="noopener">Power Rankings</a>, the University of Alabama was ranked #18 nationally, and #5 in the Eastern US.</p>
            <h3><a href="https://www.hivestorm.org/" target="_blank" rel="noopener">Hivestorm</a></h3>
            <p>Hivestorm is a live cyber defense competition, where each team is given an infected/destroyed system and they must secure it before time runs out.</p>
            <h3><a href="https://uscc.cyberquests.org/" target="_blank" rel="noopener">USCC Cyber Quests</a></h3>
            <p>USCC Cyber Quests are individual competitions that focus on real-world applications of cyber security skills learned in CTFs. Exceptional performance in the Cyber Quests qualifies you for the <a href="https://www.uscyberchallenge.org/cyber-camps" target="_blank" rel="noopener">US Cyber Camps</a> in the Summer!</p>
            <h3>...And More CTFs!</h3>
            <p>CTFs are held every week throughout the world. CD Comp Team competes in various other competitions depending on Comp Team members availability. Check out our <a href="https://ctftime.org/team/65283" target="_blank" rel="noopener">CTFtime</a> page to see what other CTFs we've competed in previously.</p>
        </div>
    </article>

    <article class="comp-detail">
        <img class="comp-detail-img" src="/img/Crimson-Defense-X.png" alt="CDX Logo">
        <div class="comp-detail-text">
            <h2>Competition Team Levels</h2>
            <h3>CDX</h3>
            <p>CDX is a 7-person team consisting of a selected group of the top veteran competitors from Crimson Defense. Selection criteria is high, prospective members must have exceptional ability in multiple areas of CTF and other computer skills and must be a proven team player.</p>
            <h3>Roll Tide</h3>
            <p>Roll Tide is a competitive team with no limit on the number of members. These members strive to learn and represent Crimson Defense well on the leaderboards. Any member who wishes to have a competitive experience will be placed in this level.</p>
            <h3>Basilosaurus</h3>
            <p>The Basilosaurus team seeks to gain experience in competitions with an emphasis on learning over competition. This level is perfect for beginners and those who wish for a relaxed competition experience.</p>
        </div>
    </article>

    <article class="comp-detail">
        <div class="comp-detail-images">
            <img class="comp-detail-img" src="/img/ua_ccdcteam_2026.jpeg" alt="">
            <p class="comp-detail-caption">Above: UA CCDC Team 2026</p>
        </div>
        <div class="comp-detail-text">
            <h2>Competition Resources</h2>
            <ul>
                <li>
                    <p><a href="https://github.com/UACrimsonDefense/CyberSecurityClub" target="_blank" rel="noopener">Crimson Defense GitHub</a></p>
                    <p>Full of resources for starting out in cyber security!</p>
                </li>
                <li>
                    <p><a href="https://www.kali.org/" target="_blank" rel="noopener">Kali Download</a></p>
                    <p>Kali is the industry standard Linux distribution for cyber security tools.</p>
                </li>
                <li>
                    <p><a href="https://www.virtualbox.org/" target="_blank" rel="noopener">VirtualBox Download</a></p>
                    <p>Mac Users: Use <a href="https://mac.getutm.app/" target="_blank" rel="noopener">UTM</a> instead of VirtualBox to run Kali.</p>
                </li>
            </ul>
        </div>
    </article>
</section>

<!--
<section class="comp-detail">
    <div class="comp-detail-images">
        <img class="comp-detail-img" src="https://placehold.co/800x600/1a1a1a/ff5468?text=Placeholder" alt="Placeholder image">
    </div>
    <div class="comp-detail-text">
        <h2>Crimson Defense Camellia Team</h2>
        <p>Crimson Defense's Camellia Team allows women in cyber security to collaborate together in cyber security competitions!
        </p>
        <p>Crimson Defense Camellia achieved Gold ranking in Fall 2023's NCL Competition.</p>
    </div>
</section>
-->

<section class="comp-achievements">
    <h2>Our Competition Team Achievements</h2>

    <h3>Collegiate Cyber Defense Competition 2026 Season</h3>
    <h4>SECCDC Regionals - 7th Place Overall</h4>
    <h4>SECCDC Qualifiers - 10th Place Overall</h4>
    <p>2026 Season Team Members: <code>adlee7</code>, <code>Reep236</code>, <code>shkorodi</code>, <code>Alesha Taylor</code>, <code>Orchis_Simia</code>, <code>Jonathan1</code>, <code>Alexander Loff</code>, <code>Ace0fH@rdts</code>, <code>purplephloxes</code>, <code>avgsqlenjoyer</code>, <code>mvasq</code>, <code>Matthew Carter</code></p>

    <h3>NCL Fall 2025</h3>
    <h4>Team Game Diamond Rank (Top 150)</h4>
    <ul>
        <li><p><code>Crimson Defense X</code> (Experienced Bracket): Score: 2970/3000, Rank 8 / 205</p></li>
    </ul>
    <h4>Individual Game Diamond Rank (Top 500)</h4>
    <ul>
        <li><p><code>Reep236</code> (Standard Bracket): Score: 2850/3000, Rank 60 / 4677</p></li>
        <li><p><code>shkorodi</code> (Standard Bracket): Score: 2745/3000, Rank 96 / 4677</p></li>
        <li><p><code>Orchis_Simia</code> (Standard Bracket): Score: 2700/3000, Rank 115 / 4677</p></li>
        <li><p><code>Jonathan1</code> (Standard Bracket): Score: 2400/3000, Rank 233 / 4677</p></li>
        <li><p><code>adlee7</code> (Experienced Bracket): Score: 2070/3000, Rank 99 / 384</p></li>
        <li><p><code>Alexander Loff</code> (Standard Bracket): Score: 2055/3000, Rank 499 / 4677</p></li>
    </ul>

    <h3>Cyber Fire Puzzles @ Auburn University</h3>
    <ul>
        <li><p><code>Crimson Defenk Roll Tide</code> First Place - Rank 1 / 25</p></li>
    </ul>

    <h3>NCL Spring 2025</h3>
    <h4>Team Game Diamond Rank (Top 150)</h4>
    <ul>
        <li><p><code>Crimson Defense</code> (Standard Bracket): Score: 2835/3000, Rank 16 / 1178</p></li>
        <li><p><code>Crimson Defense X</code> (Experienced Bracket): Score: 2770/3000, Rank 18 / 228</p></li>
    </ul>
    <h4>Individual Game Diamond Rank (Top 500)</h4>
    <ul>
        <li><p><code>shkorodi</code> (Standard Bracket): Score: 2615/3000, Rank 99 / 4602</p></li>
        <li><p><code>Reep236</code> (Standard Bracket): Score: 2585/3000, Rank 107 / 4602</p></li>
        <li><p><code>DrecMoo</code> (Standard Bracket): Score: 2390/3000, Rank 239 / 4602</p></li>
        <li><p><code>Wilzax</code> (Experienced Bracket): Score: 2305/3000, Rank 66 / 365</p></li>
        <li><p><code>adlee7</code> (Standard Bracket): Score: 2170/3000, Rank 477 / 4602</p></li>
    </ul>

    <h3>USCC Cyber Quest Spring 2025</h3>
    <ul>
        <li><p><code>shkorodi</code> Rank 16 on US Scoreboard</p></li>
    </ul>

    <h3>UCONN Cyber Seed</h3>
    <ul>
        <li><p><code>Crimson Defense X</code> Rank 18</p></li>
        <li><p><code>Crimson Defense</code> Rank 25</p></li>
    </ul>

    <h3>NCL Fall 2024</h3>
    <h4>Team Game Diamond Rank (Top 150)</h4>
    <ul>
        <li><p><code>Crimson Defense</code> (Standard Bracket): Score: 2975/3100, Rank 13 / 1196</p></li>
        <li><p><code>Crimson Defense X</code> (Experienced Bracket): Score: 2830/3100, Rank 16 / 241</p></li>
    </ul>
    <h4>Individual Game Diamond Rank (Top 500)</h4>
    <ul>
        <li><p><code>Reep236</code> (Standard Bracket): Score: 2605/3000, Rank 112 / 4585</p></li>
        <li><p><code>Wilzax</code> (Experienced Bracket): Score: 2305/3000, Rank 76 / 386</p></li>
        <li><p><code>Sammyk</code> (Standard Bracket): Score: 2190/3000, Rank 383 / 4585</p></li>
    </ul>

    <h3>USCC Cyber Quest Fall 2024</h3>
    <ul>
        <li><p><code>shkorodi</code> Rank 7 on US Scoreboard</p></li>
        <li><p><code>adlee7</code> Rank 42 on US Scoreboard</p></li>
        <li><p><code>cybercipher</code> Rank 88 on US Scoreboard</p></li>
    </ul>

    <h3>NCL Spring 2024</h3>
    <h4>Team Game Diamond Rank (Top 150)</h4>
    <ul>
        <li><p><code>Crimson Defense X</code> (Experienced Bracket): Rank 54 / 190</p></li>
        <li><p><code>Crimson Defense @ Bama</code> (Standard Bracket): Rank 76 / 4199</p></li>
    </ul>
    <h4>Individual Game Diamond Rank (Top 500)</h4>
    <ul>
        <li><p><code>James Montgomery</code> (Standard Bracket): Score: 2455/3000, Rank 159 / 3960</p></li>
        <li><p><code>jwsaye</code> (Experienced Bracket): Score: 2305/3000, Rank 58 / 386</p></li>
        <li><p><code>Wilzax @ Bama</code> (Experienced Bracket): Score: 2275/3000, Rank 66 / 386</p></li>
        <li><p><code>estef</code> (Experienced Bracket): Score: 2145/3000, Rank 89 / 386</p></li>
        <li><p><code>jtman5</code> (Standard Bracket): Score: 2035/3000, Rank 416 / 3960</p></li>
    </ul>

    <h3>NCL Fall 2023</h3>
    <h4>Team Game Diamond Rank (Top 150)</h4>
    <ul>
        <li><p><code>Crimson Defense</code> (Experienced Bracket): Rank 54 / 190</p></li>
        <li><p><code>Crimson Defense: Roll Tide</code> (Standard Bracket): Rank 130 / 1062</p></li>
    </ul>
    <h4>Individual Game Diamond Rank (Top 500)</h4>
    <ul>
        <li><p><code>tannerbaine</code> (Experienced Bracket): Rank 125 / 362</p></li>
        <li><p><code>knapplejuice</code> (Standard Bracket): Rank 168 / 4238</p></li>
        <li><p><code>Wilzax</code> (Standard Bracket): Rank 200 / 4238</p></li>
        <li><p><code>SugarBlood</code> (Standard Bracket): Rank 218 / 4238</p></li>
        <li><p><code>crimsoncipher</code> (Standard Bracket): Rank 434 / 4238</p></li>
    </ul>

    <h3>NCL Spring 2023</h3>
    <h4>Team Game Diamond Rank (Top 150)</h4>
    <ul>
        <li><p><code>Crimson Defense</code> (Experienced Bracket): Rank 38 / 315</p></li>
    </ul>
    <h4>Individual Game Diamond Rank (Top 500)</h4>
    <ul>
        <li><p><code>Tanner Baine</code> (Standard Bracket): Rank 348 / 3296</p></li>
        <li><p><code>jtman5</code> (Standard Bracket): Rank 447 / 3296</p></li>
    </ul>
</section>
