---
layout: base.njk
title: UACTF
---

<section class="hero uactf-box">
    <img class="hero-photo" src="/img/UACTF_double_logo.png" alt="UACTF Logo">
    <div class="hero-text">
        <h1>UACTF High School Competition</h1>
        <p>UACTF 2026 will be held on Saturday, Feb 28, 2026.</p>
    </div>

</section>

<section class="uactf-details">
    <article class="uactf-detail">
        <div class="uactf-detail-text">
            <h2>What is UACTF?</h2>
            <p>Every Spring, Crimson Defense Cyber Security Club hosts UACTF, a high school CTF Competition! High school students compete from across the state of Alabama and beyond in teams of 1-4 with one goal: solve as many cyber security challenges as possible! These challenges are created by Crimson Defense students, and include topics such as:</p>
            <p>Open Source Intelligence, Cryptography, Steganography, Reverse Engineering, Forensics, Password Cracking, Log &amp; Network Analysis, and Web Exploits.</p>
        </div>
        <img class="uactf-detail-img" src="/img/UACTFTrophy.jpg" alt="UACTF trophy">
    </article>

    <article class="uactf-detail">
        <div class="uactf-detail-text">
            <h2>Volunteer</h2>
            <p>Crimson Defense members can earn volunteer hours making cyber security challenges, participating in set-up, and helping us run UACTF! Ask our Competition Team Captain for more details.</p>
        </div>
        <img class="uactf-detail-img" src="/img/UACTFVolunteers.jpg" alt="UACTF volunteers">
    </article>
</section>

<section class="uactf-news">
    <h2>UACTF in the News</h2>
    <p>Watch a WSFA 12 News segment about our UACTF in Montgomery event at innovateDAFITC 2025!</p>
    <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/lQYi90N7Fp8" title="WSFA 12 News - UACTF in Montgomery at innovateDAFITC 2025" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <p>Read <a href="https://news.eng.ua.edu/2022/03/uas-cyber-security-program-hosts-virtual-capture-the-flag-competition/">this UA News article</a> about why UACTF is so important for us to host!</p>
</section>

<section class="uactf-guides">
    <h2>UACTF Training Guides</h2>
    <p>Crimson Defense members write training guides to help introduce students to cyber security tools and concepts! Check out the most recent versions here:</p>
    <ul>
        <li><a href="https://drive.google.com/file/d/1q2VfGxTpKx6e5Hm9eVV4bwvWhI4pgjTU/view?usp=sharing">Division 1 (Advanced)</a></li>
        <li><a href="https://drive.google.com/file/d/1sL5V2q51GSXO9NckUWqvbwjWsU0dqdYi/view?usp=sharing">Division 2 (Intermediate)</a></li>
        <li><a href="https://drive.google.com/file/d/1EU7KuSmEkraJjte6QrXlPhnnX6IaatTN/view?usp=sharing">Division 3 (Beginner)</a></li>
    </ul>
</section>

<p class="uactf-note">Click here to visit <a href="https://crimsondefense.cs.ua.edu/uactf.html">UACTF's official website</a>!</p>
