<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | Crimson Defense</title>
</head>
<body>
    <!-- TODO: NAV -->

    {{content | safe }}

    <!-- TODO: FOOTER -->
</body>
</html>