<footer>
    <ul class="socialIcons">
        <li><a href="https://discord.gg/TumAd3p5Nu" aria-label="Discord"><i class="fa-brands fa-discord"></i></a></li>
        <li><a href="https://www.instagram.com/UACrimsonDefense/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://github.com/UACrimsonDefense" aria-label="GitHub"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/company/crimson-defenseua" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="https://maps.app.goo.gl/dB9jsdE4pFWL91yE7" aria-label="Location"><i class="fa-solid fa-road"></i></a></li>
    </ul>
    <div class="disclaimers">
        <p class="removal-clause">
            DISCLAIMER: Using security techniques with malicious intent will result in your removal from Crimson Defense. If applicable, you will be reported to the appropriate authorities. Do not abuse your power. WE ARE NOT A HACKTIVIST GROUP.
        </p>
        <p class="university-disclaimer">
            Crimson Defense is a registered student organization at the University of Alabama. Views and content are our own.
        </p>
    </div>
    <p class="copyright">&copy; 2026 Crimson Defense. Code licensed under MIT. Logos, images, and brand assets are the property of Crimson Defense and may not be reproduced without permission.</p>
</footer>